@model Got_PTTK_PO.ViewModels.DodajPunktViewModel
@{
    ViewData["Title"] = "Points";
}
<div class="container-fluid pt-3">
    <div class="row">
        <div class="dropdown col-1">
            <a href="" class="dropdown-toggle m-3 text-white" id="sorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SORTUJ WG
            </a>
            <div class="dropdown-menu" aria-labelledby="sorting">
                <a class="dropdown-item" href="#">NAZWA A-Z</a>
                <a class="dropdown-item" href="#">NAZWA Z-A</a>
                <a class="dropdown-item" href="#">WYSOKOŚĆ N.P.M (ROSNĄCO)</a>
            </div>
        </div>
        <div class="col-1">
            <a href="" class="m-3 text-white" data-toggle="modal" data-target="#filter-modal">
                FILTRUJ
            </a>
        </div>

        <!-- END Przycisk uruchamiający modal -->

        <div class="modal" id="filter-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tytuł okna</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Bacon ipsum dolor amet shank chuck spare ribs boudin cow, bresaola picanha ball tip sirloin prosciutto pork belly strip steak doner tail. Strip steak boudin sirloin jowl pancetta shank, prosciutto fatback alcatra kielbasa ham hock chicken turducken filet mignon beef. Pork belly biltong landjaeger meatball burgdoggen, chuck brisket. Pork loin flank cupim t-bone fatback kielbasa pork ball tip shoulder. Alcatra salami landjaeger, ham picanha swine tail pork jowl cow kevin. Jerky hamburger doner flank beef ribs fatback burgdoggen meatloaf.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn btn-primary">Przycisk w stopce</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th class="text-left my-th">NAZWA</th>
                <th class="text-center">SZEROKOŚĆ GEO.</th>
                <th class="text-center">DŁUGOŚĆ GEO.</th>
                <th class="text-center">RODZAJ</th>
                <th class="text-center">WYSOKOŚĆ N.P.M.</th>
                <th class="text-center">TEREN GÓRSKI</th>
                <th class="text-center">REGION GÓRSKI</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">BABIA GÓRA</td>
                <td class="text-center">49° 40′ 00″ N</td>
                <td class="text-center">19° 34′ 00″ E</td>
                <td class="text-center">POŚREDNI</td>
                <td class="text-center">1725</td>
                <td class="text-center">BZ-A</td>
                <td class="text-center">BZ.02</td>
                <td class="text-right">
                    <button type="button" class="btn-sm btn-info">Edytuj</button>
                    <button type="button" class="btn-sm btn-info">Usuń</button>
                </td>
            </tr>

            <tr>
                <td class="text-left">ŚNIEŻKA</td>
                <td class="text-center">50° 44′ 09″ N</td>
                <td class="text-center">15° 44′ 21″ E</td>
                <td class="text-center">POŚREDNI</td>
                <td class="text-center">1602</td>
                <td class="text-center">S-A</td>
                <td class="text-center">S.03</td>
                <td class="text-right">
                    <button type="button" class="btn-sm btn-info">Edytuj</button>
                    <button type="button" class="btn-sm btn-info">Usuń</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn-lg my-add-btn float-right" data-toggle="modal" data-target="#add-modal"><i class="fa fa-plus"></i>DODAJ NOWY PUNKT</button>

    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container modal-bg">
                        <div class="row justify-content-between m-1">
                            <p class="modal-title">TWORZENIE NOWEGO PUNKTU</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label class="control-label" asp-for="NazwaP">NAZWA</label>
                                    <input type="text" class="form-control" asp-for="NazwaP">
                                    <span asp-validation-for="NazwaP" class="text-danger"></span>
                                </div>
                                <div class="form-group col-4">
                                    <label class="control-label" asp-for="WysNpm">WYSOKOŚĆ N.P.M.</label>
                                    <input type="text" class="form-control" asp-for="WysNpm">
                                    <span asp-validation-for="WysNpm" class="text-danger"></span>
                                </div>
                                <div class="form-group col-4">
                                    <label class="control-label" asp-for="Rodzaj">RODZAJ PUNKTU</label>
                                    <select asp-for="Rodzaj" asp-items="Html.GetEnumSelectList<Rodzaj_Punktu>()" class="form-control">
                                        <option selected value="">---</option>
                                    </select>
                                    <span asp-validation-for="Rodzaj" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <label class="control-label" asp-for="@Model.TerenyGorskie">TERENY GÓRSKIE</label>
                                    <select multiple asp-for="@Model.TerenyGorskie" asp-items="@ViewData["NazwaTG"] as SelectList" class="form-control">
                                        <option selected value="">---</option>
                                        <option>TEREN 1</option>
                                        <option>TEREN 2</option>
                                        <option>TEREN 3</option>
                                        <option>TEREN 4</option>
                                    </select>
                                    <span asp-validation-for="SzerGeo" class="text-danger"></span>
                                </div>
                                <div class="form-group col-3">
                                    <label class="control-label" asp-for="@Model.RegionyGorskie">REGIONY GÓRSKIE</label>
                                    <select multiple asp-for="@Model.RegionyGorskie" asp-items="@ViewData["IdRG"] as SelectList" class="form-control">
                                        <option selected value="">---</option>
                                    </select>
                                    <span asp-validation-for="SzerGeo" class="text-danger"></span>
                                </div>
                                <div class="form-group col-3">
                                    <label class="control-label" asp-for="SzerGeo">SZEROKOŚĆ GEO.</label>
                                    <input type="text" class="form-control" asp-for="SzerGeo">
                                    <span asp-validation-for="SzerGeo" class="text-danger"></span>
                                </div>
                                <div class="form-group col-3">
                                    <label class="control-label" asp-for="DlGeo">DŁUGOŚĆ GEO.</label>
                                    <input type="text" class="form-control" asp-for="DlGeo">
                                    <span asp-validation-for="DlGeo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row justify-content-end">
                                <button type="button" class="btn btn-pink">ZATWIERDŹ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var arr = new Array();
            $("select[multiple]").change(function () {
                $(this).find("option:selected")
                if ($(this).find("option:selected").length > 2) {
                    $(this).find("option").removeAttr("selected");
                    $(this).val(arr);
                }
                else {
                    arr = new Array();
                    $(this).find("option:selected").each(function (index, item) {
                        arr.push($(item).val());
                    });
                }
            });
        });
    </script>

}